.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
}
.btn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.input, .textarea  {
    width: 100% !important;
}

span {
    margin-top: 5px !important;
}

// Remove focus fromall elements
textarea:focus, input:focus{
    outline: none !important;
}

.btn-linkedIn {
    background-color: blue;
    color: white;
    font-weight: 500;
}
.btn-facebook {
    color: blue;
    font-weight: 600;
}
.btn-twitter {
    color: white;
}

@media screen and (max-width: 992px) {
    .phone {
        margin-top: 20px;
    }
    .contact-details {
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .header {
        margin-bottom: 15px !important;
    }
    .btn-facebook, .btn-twitter {
        margin-top: 10px;
    }
}