<div class="container mx-auto">
  <h2 class="text-center mb-5 header">Contact Us</h2>
  <div class="row">
    <div class="col-md-7">
      <div class="card mx-auto p-3">
        <h3 class="mx-auto mb-3">Drop Us A Message</h3>
        <form action="" method="post" class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="form-field" appearance="fill" class="input">
                <mat-label>Provide your full name</mat-label>
                <input matInput name="fullName" autocomplete="auto" placeholder="Enter your full name">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="input-field" appearance="fill" class="input">
                <mat-label>Provide your phone number</mat-label>
                <input matInput name="fullName" autocomplete="auto" placeholder="Enter your phone number">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="textarea" appearance="fill">
                <mat-label>Type your message</mat-label>
                <textarea matInput placeholder="Tell us what how we can help..." class="w-100" rows="6"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <button class="btn btn-warning w-100 mt-1">Send message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-5 contact-details">
      <h5>Extension Tlhareseng</h5>
        <div class="d-flex">
          <mat-icon aria-hidden="false" aria-label="phone icon">phone</mat-icon> &nbsp;&nbsp;
          <span>Cell: +27 (0) 65 517 3773</span>
        </div>
        <div class="d-flex">
          <mat-icon aria-hidden="false" aria-label="email icon">email</mat-icon> &nbsp;&nbsp;
          <span>extensiontlhareseng@gmail.com</span>
        </div>
        <div class="d-flex">
          <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon> &nbsp;&nbsp;
          <span>7 6th street, Melville, Johannesburg</span>
        </div>
        <div class="d-flex">
          <mat-icon aria-hidden="false" aria-label="envelope icon">envelope</mat-icon> &nbsp;&nbsp;
          <span>2092</span>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <a href="https://www.linkedin.com/in/extension-tlhareseng" class="btn btn-linkedIn w-100">
              LinkedIn
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.facebook.com/" class="btn btn-facebook w-100">
              Facebook
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://twitter.com/OfficialExtens1" class="btn btn-info btn-twitter text-white w-100">
              Twitter
            </a>
          </div>
        </div>
    </div>
  </div>
</div>