.card{
    border: none;
}
.img {
    width: 100%;
    height: 500px;
}
.logos {
    width: 100%;
    height: 100px;
}
.more-info {
    border-radius: 0;
}

@media screen and (max-width: 992px) {
    .logos {
        height: 200px;
    }
}