.navbar {
    background-color: indigo;
    box-shadow: rgba(100, 100, 100, 0.09) 0px 2px 1px, rgba(100, 100, 100, 0.09) 0px 4px 2px, rgba(190, 190, 190, 0.09) 0px 8px 4px, rgba(182, 182, 182, 0.09) 0px 16px 8px, rgba(194, 194, 194, 0.09) 0px 32px 16px;
    .collapse {
        color: whitesmoke;
        ul > li > a {
            color: white !important;
            border: 1px solid transparent;
        }
        ul {
            li {
                a:hover {
                    color: #ffc107 !important;
                    border-bottom: transparent;
                }
                .nav-link.active {
                    color: #ececec !important;
                    border-bottom: 1px solid #ececec;
                }
                .btn {
                    color: black !important;
                }
            }
        }
    }
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: orange !important;
}
.btn-danger {
    margin-top: 4px;
    color: white !important;
}
.username {
    color: orange !important;
}

@media screen and (max-width: 992px) {
    .btn-danger {
        margin-top: 0px !important;
    }
}